* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.scores {
  width: 20em;
}

ul.score-list {
  display: none;
  max-height: 15em;
}

input:focus {
  outline: none;
  box-shadow: none !important;
}

span.message {
  display: none;
  transition: 1s;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
